xterm*termName: xterm-256color
xterm*locale: true
xterm*utf8: true
xterm*utf8Title: true
xterm*fontMenu*fontdefault*Label: Default
xterm*faceName: Monospace
xterm*faceNameDoublesize: WenQuanYi Micro Hei
xterm*faceSize: 11
xterm*background: #222222
xterm*foreground: #dedede
xterm*cursorColor: #ff7500
xterm*color0: #111111
xterm*color1: #ff3333
xterm*color2: #75de75
xterm*color3: #ffff75
xterm*color4: #7599de
xterm*color5: #c7c7ea
xterm*color6: #75dede
xterm*color7: #eaffea
xterm*color8: #111111
xterm*color9: #ff3333
xterm*color10: #75de75
xterm*color11: #ffff75
xterm*color12: #7599de
xterm*color13: #c7c7ea
xterm*color14: #75dede
xterm*color15: #eaffea
xterm*cursorBlink: true
xterm*borderWidth: 0
xterm*eightBitInput: false
xterm*altSendsEscape: true
xterm*inputMethod: ibus
xterm*SaveLines: 999
xterm*VT100*Translations: #override \
        Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
        Ctrl <KeyPress> V: insert-selection(PRIMARY, CUT_BUFFER0) \n\
        <BtnUp> : select-end(CLIPBOARD, CUT_BUFFER1) \n\
        <BtnUp> : select-end(PRIMARY, CUT_BUFFER0) \n
